
body {
    background-color: lightblue; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    color: darkblue;
    font-size: 32px;
    margin-top: 20px;
}


p {
    color: black;
    font-size: 18px;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.profile-pic {
    width: 200px; 
    height: auto;
    border-radius: 10px; 
    margin-top: 20px;
}


button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn1 {
    background-color: green;
    color: white;
}

.btn2 {
    background-color: orange;
    color: white;
}
